.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;/* 
  align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 2rem;
}
table {
  border: none;
  table-layout: fixed;
}
th, td {
  border: none; /* Optional: Ensures there are no borders around individual cells */
}
.questionnaire-description {
  text-align: left;
  line-height: 2em;
}
.question {
  text-align: left;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #666;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin: 0;
}
input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
}
.participant-id {
  margin-bottom: 2rem;
}
.tab1 {
  tab-size: 2;
}
.tab2 {
  tab-size: 4;
}

.tab4 {
  tab-size: 8;
}
.indent {
  margin-left: 2em; /* Control the tab size with this value */
}
.line {
  width: 800%; /* set the desired length of the line */
  height: 1px; /* set the height of the line */
  background-color: black; /* set the color of the line */
  margin:0 auto;
}